
.container-form {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  gap: 1rem;
  min-height: 90vh;

}
.form-left {
  /* width: 100%; */
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 1px 5px 0px rgba(31, 34, 77, 0.26);

  
}
@media only screen and (max-width: 768px) {
  .form-left{min-width: 100px;}
}
.form-btn {
  display: flex;
  gap: 0.25rem;
  width: 100%;
  flex-direction: column;
  /* border-bottom: 1px solid rgb(173, 173, 173); */
  /* justify-content: space-between; */
  

}
.form-right {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.form-left button {
  padding: 0.7rem;
  cursor: pointer;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  flex-grow: 1;
  font-weight: bold;
  transition: border 0.3s ease-in-out;
}
.form-left button:hover{
 border: 1px solid rgb(122, 122, 122);

}
.form-left button.active {
  background-color: rgb(134, 134, 134);
  /* background:linear-gradient(rgb(24, 24, 236), rgb(55, 38, 206)); */
  color: #ffff;

}
.form {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
}
.form-section {
  position: relative;
  /* border: 1px solid red; */
  flex-grow: 1;
  text-align: left;

  /* overflow:auto; */
}
.form-section > div {
  background-color: rgb(248, 247, 247);
  color: rgb(63, 11, 11);
  /* border: 1px solid green; */
  position: absolute;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 4px;
  

}
.form-section > p{color: red;font-size: 14px;}
.personal-info, .address-info, .contact-info,
.educational, .occupational, .family-history, .medical-history,
.membership, .deformity{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  box-shadow: 0px 5px 20px 0px hsla(208, 40%, 17%, 0.158);
  background-color: #ffff;
  padding: 0.5rem;
  border-radius: 4px;

}
.deformity{
  justify-content: space-around;
  align-items: center;
}
.form-control p{
  margin: 0 auto;
}
.form-section > div.show {
  visibility: visible;
  opacity: 1;
  /* transform: translateX(0%); */
  z-index: 2;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.btn-submit{margin: 0 auto;}
/* .form-section{flex-grow: 1;} */
