@tailwind base;
@tailwind components;
@tailwind utilities;

.personal-info, .address-info, .contact-info,
.educational, .occupational, .family-history, .medical-history,
.membership, .deformity{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  box-shadow: 0px 5px 20px 0px hsla(208, 40%, 17%, 0.158);
  background-color: #ffff;
  padding: 0.5rem;
  border-radius: 4px;

}